.newProject {
  height: auto;
  min-height: 300px;
  background-color: #74c69d;
}

.join {
  height: 110px;
  width: 150px;
  margin-top: 1rem;
}

.projectTable {
  position: absolute;
  border: 2px solid black;

 
}


