.newProject {
  height: auto;
  min-height: 300px;
  background-color: #74c69d;
}

.join {
  height: 110px;
  width: 150px;
  margin-top: 1rem;
}

.projectTable {
  position: relative;
  left: 50%;
  top: 15rem;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  width: 90%;
}


