.imageOne {
  background-color: #e9ecef;
  min-height: 380px;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .Title {
    color: #03045e;
    padding-left: 2rem;
    font-family: monospace;
    font-size: 31px;
  }
}

@media only screen and (min-width: 600px) {
  .Title {
    color: #03045e;
    padding-left: 2.5rem;
    font-family: monospace;
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .Title {
    color: #03045e;
    padding-left: 2.5rem;
    font-family: monospace;
    font-size: 25px;
  }
}

@media only screen and (min-width: 992px) {
  .Title {
    color: #03045e;
    padding-left: 2.5rem;
    padding-top: 3rem;
    font-family: monospace;
    font-size: 28px;
  }
}

@media only screen and (min-width: 1200px) {
  .Title {
    color: #03045e;
    padding-left: 7rem;
    padding-top: 5.2rem;
    font-family: monospace;
    font-size: 32px;
  }
}

/* subtitle */
@media only screen and (max-width: 600px) {
  .SubTitle {
    color: #343436;
    padding-left: 2rem;
    padding-top: 1.4rem;
    font-family: monospace;
    font-size: 9px;
  }
}

@media only screen and (min-width: 600px) {
  .SubTitle {
    color: #343436;
    padding-left: 2.8rem;
    padding-top: 1.8rem;
    font-family: monospace;
  }
}

@media only screen and (min-width: 768px) {
  .SubTitle {
    color: #343436;
    padding-left: 2.8rem;
    padding-top: 1.8rem;
    font-family: monospace;
  }
}

@media only screen and (min-width: 992px) {
  .SubTitle {
    color: #343436;
    padding-left: 2.8rem;
    padding-top: 1.8rem;
    font-family: monospace;
  }
}

@media only screen and (min-width: 1200px) {
  .SubTitle {
    color: #343436;
    padding-left: 7rem;
    padding-top: 1.8rem;
    font-family: monospace;
  }
}

/* title image */

@media only screen and (max-width: 600px) {
  .titleImage {
    height: 200px;
    width: 280px;
    padding-left: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  .titleImage {
    height: 200px;
    width: 300px;
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) {
  .titleImage {
    height: 200px;
    width: 300px;
    padding-left: 0;
  }
}

@media only screen and (min-width: 992px) {
  .titleImage {
    height: 200px;
    width: 320px;
    padding-left: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .titleImage {
    height: 320px;
    width: 400px;
    padding-left: 0;
  }
}

/* features */

.featuretitle {
  position: absolute;
  left: 50%;
  margin-top: 2.8rem;
  transform: translate(-50%, -50%);
  font-family: monospace;
}

/* get started */

.getStarted {
  background-color: #e9ecef;
  min-height: 250px;
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  margin-top: 10rem;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

.startsec1 {
  font-family: monospace;
  font-size: 25px;
}

.startsec2 {
  background-color: #ef233c;
  border-radius: 0px 25px 25px 0px;
}


@media only screen and (max-width: 768px) {
  .startsec2 {
  background-color: #ef233c;
  border-radius: 0px 0px 0px 0px;
}
}
